{% extends 'base.html' %}
{%block body%}
{% load crispy_forms_tags %}
<div class="bg" style="width:100%;border:1px solid gray;padding:8px;background:#e1efbb url('mountain.jpg')">
<div class="container">
  <h5>
    {% if message %}
    {{ message }}
    {% endif %}
  </h5>
  <h2>Request</h2>
  <form method="delete" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  {{ form | crispy }}
    <a  href="accounts/passenger/delete/confirm/" >
      <button>Delete Confirm</button>
      </a>
  </form>
</div>
</div>
{%endblock%}
