{% extends 'base.html' %}

{% block body %}
<head>
        <meta http-equiv="refresh" content="100;url=/accounts/" />
        <style>
.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
}
</style>
</head>
    <body>
<div class="container">
  <h1>See you next time!</h1>
  <p>
    You have logged out ... Redirecting to home page in 4 seconds.....
  </p>
  <img src="https://static.webshopapp.com/shops/066605/files/077822186/see-you-later-letter-stickers.jpg" alt="See you" class="center">
</div>
<div  class="background">
  </div>
</body>

{% endblock %}
