{%extends 'base.html'%}
  {% block passenger_driver %}
  <li><a href="/accounts/passenger/request">Requiest</a></li>
  <li><a href="/accounts/passenger/join">Join</a></li>
  <!-- <li><a href="/accounts/passenger/request">Edit</a></li> -->
  {% endblock %}
  {% block body %}
    {% if message %}
    {{ message }}
    {% endif %}
    {% csrf_token %}
    <div class="panel panel-success">
        <div class="panel-heading">Current Ride</div>
        <table class="table table-bordered table-hover table-striped">
            <thead></thead>
            <tbody id = "add-body">
            {% if current_request %}
                <tr id="ride_{{ current_request.id }}">
                    <td>{{ current_request.destination }}</td>
                    <td>{{ current_request.arrival_time }}</td>
                    <td>{{ current_request.number_passenger }}</td>
                    <td>{{ current_request.vehicle_type }}</td>
                    <td><a href="/accounts/passenger/request/edit/{{ current_request.id }}/">Edit</a></td>
                    <td><a href="/accounts/passenger/request/delete/{{ current_request.id }}/">Delete</a></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">History rides</div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody id = "add-body">
            {% for ride in history_request_list %}
                <tr id="ride_{{ ride.id }}">
                    <td>{{ ride.destination }}</td>
                    <td>{{ ride.arrival_time }}</td>
                    <td><a href="../passenger/request/{{ ride.id }}/">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  {% endblock %}
