{% extends 'base.html' %}
{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}
<!--This is where we refer to all those data in user model-->
<div class="container">
  <h1>Profile</h1>
  <p>{{ user }}</p>
  <p>{{ user.first_name }}</p>
  <p>{{ user.last_name }}</p>
  <p>{{ user.email }}</p>
  {% if user_info.isDriver %}
    <p>{{ user_info.isDriver }}</p>
    <p>{{ user_info.vehicle_id }}</p>
    <p>{{ user_info.vehicle_max_passenger }}</p>
  {% endif %}
</div>

{% endblock %}
