{% extends 'base.html' %}
{% block body %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {{ form.as_p }}
    <div  class="row"  id="tableDivOne" style="display: none;">
      <table>
        <tr>
            <td>vehicle_id</td>
            <td><input type="text" name="vehicle_id" placeholder="vehicle_id"></td>
        </tr>
        <tr>
            <td>vehicle_max_passenger</td>
            <td><input type="text" name="vehicle_max_passenger" placeholder="vehicle_max_passenger"></td>
        </tr>          　　
      </table>
    </div>
    <button type="button" id="isdriver_bt"onclick="addBut()" style="display: block">isdriver</button>
    <button type="button" id="notdriver_bt"onclick="hideBut()" style="display: none">notdriver</button>

    <script type="text/javaScript">
    function addBut(){
      document.getElementById("tableDivOne").style.display="block";
      document.getElementById("isdriver_bt").style.display="none";
      document.getElementById("notdriver_bt").style.display="block";
    }
    function hideBut(){
      document.getElementById("tableDivOne").style.display="none";
      document.getElementById("notdriver_bt").style.display="none";
      document.getElementById("isdriver_bt").style.display="block";
    }
    </script>
    <button type="submit" name="button">Register</button>
  </form>
</div>
{% endblock%}
