<html>
    <head>
        <title>Login</title>
        
        <!--
        {% load static %}
        <link rel="stylesheet" href="{% static "accounts/style.css" %}" type="text/css">
        -->
    </head>
    <body>
        <div class="container">
            <h1>Welcome!</h1>
            Hello, this is the login page!
            <button class="btn btn-primary" type="button" name="button">Login</button>
        </div>
        <h1>{{ name }}</h1>
        <ul>
            {% for num in numbers %}
            <li>{{ num }}</li>
            {% endfor %}
        </ul>
        <div class="jumbotron">
            <h1>Welcome!</h1>
        </div>
    </body>
</html>
